<!-- Created By:
Pradeep Ranjan G01373552 
Pranav Agrawal G01394901
Srikar Pratap Susarla G01329585-->
<div class="container mt-5">
    <h2>List of All Surveys</h2>
    <table class="table table-striped custom-table">
      <thead >
        <tr >
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Zip</th>
          <th>Phone</th>
          <th>Date</th>
          <th>Likes</th>
          <th>Source</th>
          <th>Recommend?</th>
          <th>Feedback</th>
          <th colspan="2" style="text-align: center;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let survey of surveys">
          <td>{{ survey.firstName }} {{ survey.lastName }}</td>
          <td>{{ survey.email }}</td>
          <td>{{ survey.street }} {{survey.cityname}} {{survey.statename}}</td>
          <td>{{ survey.zipCode }}</td>
          <td>{{ survey.telephone }}</td>
          <td>{{ survey.dateofsurvey }}</td>
          <td>{{ getLikesAboutCampusString(survey) }}</td>
          <td>{{ survey.hearAboutUniversity }}</td>
          <td>{{ survey.recommendation }}</td>
          <td>{{ survey.comments }}</td>
          <td> <button class="btn btn-danger" (click)="onDelete(survey.id)">Delete</button> </td>
          <td> <button class="btn btn-primary" (click)="onEdit(survey.id)">Update</button> </td>
          <!-- Add other columns as needed -->
        </tr>
      </tbody>
    </table>
  </div>

