/* Created By:
Pradeep Ranjan G01373552 
Pranav Agrawal G01394901
Srikar Pratap Susarla G01329585
*/

.custom-table {
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  border: 1px solid #dee2e6;
  padding: 10px 6px;
}

.custom-table th {
  background-color: #046A38;
  font-size: 1rem;
  color: aliceblue;
}

.custom-table td {
  font-size: 0.9rem;
}

.btn-danger, .btn-primary {
  font-size: 0.9rem;
  padding: 5px 10px;
}

