/* Created By:
Pradeep Ranjan G01373552 
Pranav Agrawal G01394901
Srikar Pratap Susarla G01329585
*/

.para{
    font-size: small;
    font-style: italic;
    
}

h3{
    font-weight: 800;
    font-size: 40px;
    color: rgb(124, 109, 58);
    text-shadow: 1px 0px 1px rgba(255, 255, 255);
}
h2{
    font-weight: 600;
    font-size: 27px;
    color: rgb(124, 109, 58);
    text-shadow: 1px 0px 1px rgba(255, 255, 255);
}

h5{
    font-weight: 800;
    color: rgb(58, 58, 124);
    font-style: bold;
    font-size: 40px;
    text-shadow: 1px 0px 1px rgba(255, 255, 255);
}

.detailPer{
    font-size: 18px;
}

.required{
    color: red;
}


