/* Created By:
Pradeep Ranjan G01373552 
Pranav Agrawal G01394901
Srikar Pratap Susarla G01329585
*/


.card {
  width: 267px;
  box-shadow: 1px 10px 26px rgba(44, 37, 43, 0.834);
}

img{
  width: 265px;
  height: 300px;
}

h4{
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-weight: bold;
}

.card-title{
  font-size: 1.4rem;
  font-weight: bold;
}
  