  <!-- Created By:
Pradeep Ranjan G01373552 
Pranav Agrawal G01394901
Srikar Pratap Susarla G01329585-->
<h4>PROJECT CREATERS</h4>
<div class="container">
  <div class="row justify-content-center">      
    <div class="col-md-4">
      <div class="card">
        <img src="assets/pradeep.png" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title">Pradeep Ranjan</h2>
          <p class="card-text">G01373552</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="assets/pranav.jpg" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title">Pranav Agrawal</h2>
          <p class="card-text">G01394901</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="assets/srikar.png" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title">Srikar Pratap Susarla</h2>
          <p class="card-text">G01329585</p>
        </div>
      </div>
    </div>
    
  </div>

</div>

