/* Created By:
Pradeep Ranjan G01373552 
Pranav Agrawal G01394901
Srikar Pratap Susarla G01329585
*/
body { 
  background: url("/assets/bg2.jpg") no-repeat center center fixed; 
  background-size: cover;
  font-family: Arial, sans-serif;
}