/* Created By:
Pradeep Ranjan G01373552 
Pranav Agrawal G01394901
Srikar Pratap Susarla G01329585
*/
.header {
    text-align: center;
    font-size: 85px;
    color: rgb(0, 0, 0);
    text-shadow: #FFDB58 1px 0 7px;
  }
  
.description {
    max-width: 1300px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    z-index: -100000;
    text-shadow: #FFDB58 1px 0 7px;
  }

.header #fpage{
    font-weight: 700;
    color: #046A38;
  }

.card {
  text-align: center;
  margin: 0 auto; /* Center the card */
  opacity: 0.95;
  box-shadow: 1px 10px 26px #FFDB58;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body {
  text-align: center;
}

.custom-table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}